svg.treemap{
  background: none;
  color: black;
  margin: 1vw 3vw 0 3vw;
  //padding: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  overflow: hidden;
  //padding-bottom: 50px;
}

svg.treemap:hover {
  cursor: crosshair;
}

svg#legend {
  background: ghostwhite;
  color:black;
  overflow: visible;
}

.legend-text {
  text-anchor: middle;
}